server {
    listen *:80 default_server;
    server_name _;

    location / {
      auth_pam              "Enter your ldap credentials";
      auth_pam_service_name "nginx";

      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;

      proxy_pass ${NGINX_UPSTREAM_SERVER};
    }
${NGINX_FORBIDDEN_LOCATIONS_FORMATED}
}

